    <form action="/account" method="POST" id="form">
        <div id="accountInfo">
            <h3 class="header"><%= header %></h3>
            <div id="userInfo">
                <div id="name">
                    <input
                        type="text"
                        value="<%= account.firstName %>"
                        class="firstName"
                    />
                    <input
                        type="text"
                        value="<%= account.lastName %>"
                        class="lastName"
                    />
                </div>

                <input
                    type="email"
                    value="<%= account.email %>"
                    class="email"
                />
                <a href="/logout">Logout</a>
                <button>
                    <a href="/deleteAccount">Delete account</a>                    
                </button>

            </div>
        </div>
    </form>