<div class="container">
<div id="account">
    <form action="/updateAccount" method="GET" id="form">
        <div id="accountInfo">
            <div id="name">
                <input type="text" value="<%= account.firstName %>" name="firstName">
                <input type="text" value="<%= account.lastName %>" name="lastName">
            </div>
            
            <div id="email">
                <input type="text" value="<%= account.email %>" name="email" class="email">
            </div>

            <input type="hidden" value="<%= account.id %>" name="userId">
            <input type="submit" value="Update account">
        </div>
    </form>
    
    <div id="logoutDelete">
        <a href="/logout">Logout</a>

        <a href="/deleteAccount" class="delete">Delete account</a>                    
    </div>
</div>
</div>