<div id="footer">
    <div class="footer-container">
        <div class="footer-item">
            <div class="footer-logo">
                
            </div>
        </div>
    

        <div class="footer-item">
            <div class="media">
                <div class="icon">
                    <span>
                        <i class="i location"></i>
                    </span>
                </div>
                <div class="text">
                    123 Street St.
                </div>
            </div>
            <div class="media">
                <div class="icon">
                    <span>
                        <i class="i email"></i>
                    </span>
                </div>
                <div class="text">
                    <p>
                        <a href="mailto:email@email.com">
                            email@email.com
                        </a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="icon">
                    <span>
                        <i class="i phone"></i>
                    </span>
                </div>
                <div class="text">
                    <p>
                        <a href="tel:1234567">
                            123-4567
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>