<div class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <div id="location">
                <i class="i invert location"></i>
                <p>
                    123 Street St.
                </p> 
            </div>
            <div id="email">
                <i class="i invert email"></i>
                <p>
                    email@email.com
                </p>
            </div>
            <div id="phone">
                <i class="i invert phone"></i>
                <p>
                    123-4567
                </p>
            </div>
        </div>
    </div>
</div>