<div id="footer">
    <div class="footer-item">
        <div class="icon">
            <div class="i" id="location-i"></div>
        </div>
        <span>123 Street St.</span>
    </div>
    <div class="footer-item">
        <div class="icon">
            <div class="i" id="email-i"></div>
        </div>
        <span>
            <a href="mailto:email@email.com">
                email@email.com
            </a>
        </span>
    </div>
    <div class="footer-item">
        <div class="icon">
            <div class="i" id="phone-i"></div>
        </div>
        <span>
            <a href="tel:1234567">
                123-4567
            </a>
        </span>
    </div>
</div>