<div class="footer">
    <div class="footer-container">
        <div class="footer-item">
            <div class="media">
                <div class="icon">
                    <div class="i location"></div>
                </div>
                <div class="text">
                    123 Street St.
                </div>
            </div>
            <div class="media">
                <div class="icon">
                    <div class="i email"></div>
                </div>
                <div class="text">
                    <p>
                        <a href="mailto:email@email.com">
                            email@email.com
                        </a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="icon">
                    <div class="i phone"></div>
                </div>
                <div class="text">
                    <p>
                        <a href="tel:1234567">
                            123-4567
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>