<div class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <div class="location">123 Street St.</div>
            <div class="email">email@email.com</div>
            <div class="phone">123-4567</div>
        </div>
    </div>
</div>
