<div class="navbar">
    <!-- Navbar Desktop Start -->
    <div class="navbar-desktop">
        <div class="logo">
            <a href="/">
                <img src="svg/logo.svg" />
            </a>
        </div>

        <ul class="nav">
            <!-- <li><a href="/">Home</a></li> -->
            <!-- <li><a href="/rooms">Rooms</a></li> -->
            <li class="nav-item"><a href="/restaurant">Restaurant</a></li>
            <% if (user != 'none') { %>
                <li class="nav-item"><a href="/bookings">Bookings</a></li>
            <% } %>
            <li class="nav-item"><a href="/contact">Contact</a></li>
        </ul>

        <ul class="right">        
            <div class="item">
                <% if (user == 'none') { %>
                    <div class="icon">
                        <div class="i user"></div>
                    </div>
                    <a href="/login">Login</a>
                <% } else { %>
                    <div class="icon">
                        <div class="i user"></div>
                    </div>
                    <a href="/account">My account</a>
                <% } %>
            </div>
        </ul>
        
    </div>
    <% try { if (userPrivilege == "administrator") { %>
    <div class="sub-nav">
        <ul id="sub-nav">
            <li><a href="/create">Create Room</a></li>
            <li><a href="/edit">Edit Rooms</a></li>
            <li><a href="/add">Add to Menu</a></li>

            <li><a href="/edit-menu">Edit Menu</a></li>
        </ul>
    </div>
    <% }} catch (e) {} %>

    <!-- Navbar Desktop End -->

    <!-- Navbar Mobile Start -->
    <div class="navbar-mobile">
        <div class="logo-mobile">
            <a href="/">
                <img src="svg/logo.svg" />
            </a>
        </div>

        <!-- <div class="hamburger-menu">
            <img src="hamburger.svg" />
        </div> -->

        <ul class="nav-mobile">
            <!-- <li><a href="/">Home</a></li> -->
            <!-- <li>Rooms</li> -->
            <li><a href="/menu">Menu</a></li>
        </ul>

    </div>
    <!-- Navbar Mobile End -->
</div>
