<div id="navbar">
    <!-- Navbar Desktop Start -->
    <div class="navbar-desktop">
        <div class="logo">
            <a href="/">
                <img src="svg/logo.svg" />
            </a>
        </div>

        <ul class="nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/rooms">Rooms</a></li> -->
            <li><a href="/menu">Menu</a></li>
        </ul>

        <ul class="right">
            <!-- <div class="item">
                <select>
                    <option class="test">
                        <p>
                            &#127470;&#127480; 
                        </p>
                    </option>
                </select>
            </div> -->
            <div class="item">
                <% if (user == 'none') { %>
                    <div class="icon">
                        <span>
                            <i class="i user"></i>
                        </span>
                    </div>
                    <a href="/login">Login</a>
                <% } else { %>
                    <div class="icon">
                        <span>
                            <i class="i user"></i>
                        </span>
                    </div>
                    <a href="/account">My account</a>
                <% } %>
            </div>
        </ul>
        
        <!-- <div class="dropdown">
            <p class="dropbtn" onclick="myFunction()"> My Account </p>
            <div class="dropdown-content" id="myDropdown">
                <% if (user == 'none') { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <% } else { %>
                <a href="/account">Settings</a>
                <a href="/logout">Logout</a>
                <% } %>
            </div>
            <script src="js/dropdown.js"></script>
        </div> -->
        <!-- <a href="/account">My account</a> -->
    </div>
    <% try { if (userPrivilege == 1) { %>
    <div class="sub-nav">
        <ul id="sub-nav">
            <li><a href="create">Create Room</a></li>
            <li><a href="/update">Update Room</a></li>
            <li>Update Menu</li>
        </ul>
    </div>
    <% }} catch (e) {} %>

    <!-- Navbar Desktop End -->

    <!-- Navbar Mobile Start -->
    <div class="navbar-mobile">
        <div class="logo-mobile">
            <a href="/">
                <img src="svg/logo.svg" />
            </a>
        </div>

        <!-- <div class="hamburger-menu">
            <img src="hamburger.svg" />
        </div> -->

        <ul class="nav-mobile">
            <li><a href="/">Home</a></li>
            <!-- <li>Rooms</li> -->
            <li><a href="/menu">Menu</a></li>
        </ul>
    </div>
    <!-- Navbar Mobile End -->
</div>
