.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 173px);
}

#account {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#form {
    padding: 10px 0 10px 0;
    margin: 0 auto;
}

#accountInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 0 0 10px 0;
}

#accountInfo > #firstName, #lastName,
#email > #accEmail {
    width: 100%;
    padding: 10px 5px;
}

#email {
    width: 100%;
    margin: 0 0 10px 0;
}

#name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 0 10px 0;
}



#logoutDelete {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.delete {
    position: relative;
    bottom: 0;
    color: #ffffff;
    background: #BF0603;
    border: 2px solid #000;
    margin: 10px 0;
    padding: 15px 10px;
}

.delete:hover {
    background: #A30000;
}