.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 173px);
}

#confirm {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: var(--text-primary);
    background: var(--secondary-color-transparent);
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.close {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.close > a {
    text-align: center;
}

#account {
    display: flex;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    margin: 0 auto;
}

#accountInfo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #222;
    padding: 0 0 10px 0;
}

#name > #firstName, #lastName,
#email > #accEmail {
    width: 100%;
    padding: 10px 5px;
}

#email {
    width: 100%;
    margin: 0 0 10px 0;
}

#name {
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
}

#logoutDelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.danger {
    margin: 10px 0 0 0;
}

@media only screen and (max-width: 430px) {
    #name {
        flex-direction: column;
    }
}