#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr > td {
    padding: 0.625rem;
}

.order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 1rem auto;
    padding: 0 .25rem;
}

.order-info {
    display: flex;
    flex-flow: column;
}

#order {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0 0 1rem 0;
}

#order > input {
    width: clamp(100px, 100%, 200px);
    padding: 10px;
}

.email-sent-to {
    display: flex;
    flex-flow: column;
    margin: auto 0;
    word-break: break-word;
}

#cancel {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}