.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 173px);
}

tr > td {
    padding: 10px;
}

.order {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
}

.order-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 0 0 20px;
}

#order {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    margin: 0 40px 0 0;
}

#order > input {
    min-width: 100px;
    max-width: 200px;
    width: 100%;
    padding: 10px;
}

.email-sent-to {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

#cancel {
    margin: 20px 0;
}

@media only screen and (max-width: 500px) {
    .order {
        display: flex;
        flex-direction: column;
    }

    .order-info {
        padding: 0;
        margin: 16px 0;
        align-items: center;
    }

    .email-sent-to {
        margin: 16px 0 !important;
    }

    #order {
        margin: 0;
        align-items: center;
    }

    #cancel {
        margin: 0 0 20px 0;
    }
}