#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0.625rem 0;
    padding: 0 0.9rem;
}

#firstName, #lastName, 
#email, #enquiry, .btn {
    width: clamp(100px, 100%, 500px);
    padding: 0.75rem 0.875rem;
    border: 0;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

input[type=text]:focus, input[type=email]:focus,
textarea:focus {
    background: var(--secondary-color);
    outline: none !important;
}

#firstName:read-only, #lastName:read-only,
#email:read-only {
    pointer-events: none;
    background: var(--primary-color);
    opacity: 0.7;
}