.container {
    min-height: calc(100vh - 184px);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

#firstName, #lastName, 
#email, #enquiry, .btn {
    max-width: 500px;
    width: 100%;
    padding: 15px 8px;
}

#firstName:read-only, #lastName:read-only,
#email:read-only {
    pointer-events: none;
}