#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background: #030303;
    color: var(--text-secondary);
    font-weight: 300;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item  {
    display: flex;
    align-content: center;
}

.footer-item > * {
    display: flex;
    margin: 0 12px;
    align-items: center;
}

#location-i::before, #email-i::before, #phone-i::before {
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
    filter: invert(100%);
}

#location-i::before {
    content: url(/svg/location.svg);
}

#email-i::before {
    content: url(/svg/envelope.svg);
}

#phone-i::before {
    content: url(/svg/phone.svg);
}

.media > span > a,
.media > span {
    color: var(--text-secondary);
}

@media only screen and (max-width: 415px) {
    #footer, .footer-item {
        display: block;
        padding: 6px 0;
    }

    .media {
        display: flex;
        margin: 0;
    }

    .media > span > a,
    .media > span {
        font-size: calc(10px + 0.3vw);
    }
}