#footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 110px;
    background: #030303;
    color: var(--text-secondary);
    font-weight: 300;
}

.footer-item {
    display: flex;
    margin: 0 0.725rem;
    align-items: center;
    font-size: calc(0.75rem + 0.33vw);
    color: var(--text-secondary) !important;
}

#location-i::before, #email-i::before, #phone-i::before {
    position: relative;
    top: 2px;
    margin: 0 0.5rem 0 0;
    filter: invert(100%);
}

#location-i::before {
    content: url(/svg/location.svg);
}

#email-i::before {
    content: url(/svg/envelope.svg);
}

#phone-i::before {
    content: url(/svg/phone.svg);
}