#footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: 300;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 14px;
}

.footer-item > * {
    display: flex;
    margin: 0 10px;
    align-items: center;
}

.text > p > a {
    color: #fff;
}

.icon {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}

.icon > span > i {
    display: block;
}

.location::before {
    display: block;
    content: url(/svg/location.svg);
}

.email::before {
    display: block;
    content: url(/svg/envelope.svg);
}

.phone::before {
    display: block;
    content: url(/svg/phone.svg)
}