.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register, #login {
    padding: 0 0.5rem;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#passwordContainer, #verifyPasswordContainer {
    display: flex;
    justify-content: right;
    align-items: center;
}

#showPswdBtn, #showVrfyPswdBtn {
    position: absolute;
    margin: 0 0.625rem 0 0;
    user-select: none;
    cursor: pointer;
    width: 30px;
}

.eye-show {
    content: url(/svg/eye.svg);
}

.eye-hide {
    content: url(/svg/eye-slash.svg);
}

input#firstName, input#lastName, 
input#email, input.password {
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 0.75rem 0.875rem;
    box-shadow: var(--box-shadow);
}

input.password {
    padding-right: 2.75rem;
}

input[type=text]:focus, input[type=password]:focus,
input[type=email]:focus {
    background-color: var(--secondary-color);
    outline: none !important;
}

.error, .container-register,
.container-login {
    text-align: center;
}