.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 173px);
}

.email, .password {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

#register, #login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#password {
    display: inline-flex;
    justify-content: right;
    align-items: center;
}

#showPswdBtn, #showVrfyPswdBtn {
    float: right;
    position: absolute;
    width: 30px;
    margin: 0 10px 0 0;
    user-select: none;
    cursor: pointer;
}

.eye-show {
    content: url(/svg/eye.svg);
}

.eye-hide {
    content: url(/svg/eye-slash.svg);
}


input#firstName, input#lastName, 
input#email, input.password {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: 100%;
    padding: 12px 14px;
}

input.password {
    padding-right: 44px;
}

input[type=text]:focus, input[type=password]:focus,
input[type=email]:focus {
    background-color: var(--secondary-color);
    border: 1px solid var(--btn-primary) !important;
    outline: none !important;
}

.btn {
    width: 100%;
    padding: 10px 0;
    background-color: var(--btn-primary);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--btn-secondary);
}

.error, .container-register,
.container-login {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .container {
        justify-content: flex-start;
    }

    .container > #login,
    .container > #register {
        margin: 30px 0 0 0;
    }

    #form,
    #form > * {
        width: 100%;
    }
}