.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 173px);
}

#register, #login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email, .password {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

#password {
    display: flex;
    justify-content: right;
    align-items: center;
}

#showPswdBtn, #showVrfyPswdBtn {
    position: absolute;
    width: 30px;
    margin: 0 10px 0 0;
    user-select: none;
    cursor: pointer;
}

.eye-show {
    content: url(/svg/eye.svg);
}

.eye-hide {
    content: url(/svg/eye-slash.svg);
}


input#firstName, input#lastName, 
input#email, input.password {
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 12px 14px;
    box-shadow: var(--box-shadow);
}

input.password {
    padding-right: 44px;
}

input[type=text]:focus, input[type=password]:focus,
input[type=email]:focus {
    background-color: var(--secondary-color);
    outline: none !important;
}

.error, .container-register,
.container-login {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .container {
        justify-content: flex-start;
    }

    .container > #login,
    .container > #register {
        margin: 30px 0 0 0;
    }

    #form,
    #form > * {
        width: 100%;
    }
}