.container {
    min-height: calc(100vh - 173px);
}  

.msg {
    padding: 30px 0;
}

.page-header {
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 12vh 0;
    /* background: #030303; */
    background: radial-gradient(circle, rgba(0,78,152,1) 50%, rgba(0,68,133,1) 100%);
    font-size: calc(26px + 0.33vw);
    color: var(--text-secondary);
    border-radius: 7px;
}

.breakfast {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/breakfast.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}  

.dinner {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/dinner.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}  

#menus, #menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.menu, .menu-item {
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .page-header {
        max-width: none;
        border-radius: 0;
    }

    .container {
        display: block;
    }
}