/* override msg style from main */
.msg {
    padding: 1.875rem 0;
}

.page-header {
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 12vh 0;
    background: radial-gradient(circle, rgba(0,78,152,1) 50%, rgba(0,68,133,1) 100%);
    font-size: calc(26px + 0.33vw);
    color: var(--text-secondary);
    border-radius: 7px;
}

.breakfast {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/breakfast.webp') center / cover no-repeat;
}  

.dinner {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/dinner.webp') center / cover no-repeat;
}  

#menus, #menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.9rem 0;
}

.menu, .menu-item {
    margin: 0.75rem 0;
    padding: 0.5rem 0;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .page-header {
        max-width: none;
        border-radius: 0;
    }
}