/* Navbar desktop start */
.navbar-desktop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 15px;
}
  
.logo {
     padding: 12px;
}
  
.nav, .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
  
.nav {
    margin-right: auto;
}

.item {
    display: flex;
    align-items: center;
}

.user::before {
    display: block;
    content: url(/svg/user.svg);
}

a {
    color: #000;
    text-decoration: none;
  }
  
  .right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    text-align: center;
    margin-top: 47px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    border-top: 0px;
    border: 1px solid #000;
    /* border-radius: 0px 0px 12px 12px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: flex;
    flex-direction: column;
  }
  
  .sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    font-size: 14px;
  }
  
  #sub-nav {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    list-style-type: none;
    gap: 20px;
  }
  
  /* Navbar desktop end */
  
  /* Navbar mobile start */
  .logo-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
  }
  
  .logo-mobile > a > img {
    min-width: 40vw;
  }
  
  .navbar-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
  }
  
  .nav-mobile {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    padding: 0;
  }
  
  
  @media only screen and (max-width: 580px) {
    .navbar-desktop {
      display: none;
    }
  
    .navbar-mobile {
      display: flex;
    }
  
    .nav-mobile {
      font-size: calc((1.1rem));
    }
  }
  
  
  @media only screen and (max-width: 260px) {
    .nav-mobile {
      font-size: calc(0.8rem);
    }
  }
  
  @media only screen and (max-width: 160px) {
    .nav-mobile {
      font-size: calc(0.6rem);
    }
  }