.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 173px);
}

#orderby {
    margin: 0 10px;
    padding: 8px 5px;
}

#guests {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8px;
}

.guests::before {
    content: url(/svg/person.svg);
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
}

.rooms {
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.room {
    flex: 0 0 200px;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px red var(--box-shadow);
    -moz-box-shadow: 0px 0px 2px 0px var(--box-shadow);
    box-shadow: 0px 0px 2px 0px var(--box-shadow);
    border-radius: 7px;
}

.image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 7px 7px 0 0;
}

#room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 8px 12px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 50vw;
}

.attention {
    animation: pulse 2s infinite;
    border: 1px solid #d0342c;
}

@keyframes pulse {
    0%   { border-color: #ff5f15; }
    50%  { border-color: inherit; }
    100% { border-color: #d0342c; }
}

@media only screen and (max-width: 1115px) {
    .container {
        height: 100vh;
    }

    .msg {
        margin: 10px 0;
    }
}  


@media only screen and (max-width: 500px) {
    .container {
        height: 100%;
    }

    .rooms-table {
        height: 100vh;
    }

    .msg {
        margin: 10px 0;
    }
}  