.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 173px);
}

.msg {
    max-width: 50vw;
}

#orderby {
    margin: 0 10px;
    padding: 8px 5px;
}

#guests {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8px;
}

.guests::before {
    content: url(/svg/person.svg);
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
}

.table-container {
    width: auto;
    height: 100%;
}

tr > th, td {
    padding: 4px 8px;
}

.rooms {
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 1.5rem 0;
    padding: 0 1rem; */
    /* display: flex;
    flex-wrap: wrap; */
}

.room {
    flex: 0 0 200px;
    margin: 5px;
    border: 1px solid black;
}

.image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

#room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 8px 12px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid {
    display: grid;
    flex-wrap: wrap;
    /* margin: 8px 0;
    display: grid;
    grid-template-columns: repeat(4, auto); */
}

.grid-item {
    display: flex;
    flex-grow: 1;
    /* height: fit-content;
    margin: 12px; */
}


.msg {
    text-align: center;
}

.attention {
    animation: pulse 2s infinite;
    border: 1px solid #d0342c;
}

@keyframes pulse {
    0%   { border-color: #ff5f15; }
    50%  { border-color: inherit; }
    100% { border-color: #d0342c; }
}

@media only screen and (max-width: 1115px) {
    .container {
        height: 100vh;
    }

    .msg {
        margin: 10px 0;
    }
}  


@media only screen and (max-width: 500px) {
    .container {
        height: 100%;
    }

    .rooms-table {
        height: 100vh;
    }

    .msg {
        margin: 10px 0;
    }
}  
