.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create, #update {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
    max-width: 470px;
}

#create > .header,
#update > .header {
    display: flex;
    justify-content: left;
    margin: 5px 0;
}

select {
    padding: 8px 5px;
}

input[type="text"], input[type="number"] {
    padding: 6px 12px;
}

#msg {
    margin: 10px 0;
}