form {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 14px 0 13px 0;
}

.room-title, .room-info {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    margin: 0px 0;
}

.stay {
    background: #dfdfe8;
    font-size: calc(1rem / 1.2);
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nights, .timeframe {
    display: inline-block;
}

#guests, #beds{
    margin: 0 10px 0 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stay-time::before {
    content: url(/svg/stay.svg);
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
}

.guests::before {
    content: url(/svg/person.svg);
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
}

.beds::before {
    content: url(/svg/bed.svg);
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
}

#price {
    width: fit-content;
    display: flex;
    align-items: center;
}

.p {
    margin: 2px;
}

.ppn {
    font-weight: 600;
    color: #282828;
    margin: 0 0 0 10px;
    font-size: calc(1rem / 1.3);
}

#description {
    max-width: calc(100vw - 60%);
    min-width: calc(100vw - 40%);
    margin: 0 auto;
}

.images {
    max-width: 560px;
    /* height: 100%; */
    position: relative;
    margin: 0 auto;
}

.image {    
    display: none;
    margin: 0;
    max-height: 370px;
}

.img {
    width: 100%;
    height: inherit;
    /* height: 320px; */
    border-radius: 0.8rem;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    margin: 5px 0 0 0;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* @media only screen and (min-width: 100vw) {
    #description {
        width: calc(50vw - 20%);
        margin: 0 auto;
    }
} */
/* 
@media only screen and (max-width: 800px) {
    #description {
        width: calc(100vw - 40%);
        margin: 0 auto;
    }
} */

@media only screen and (max-width: 700px) {
    .container {
        height: 100%;
    }
    /* #description {
        width: calc(100vw - 20%);
        margin: 0 auto;
    } */

    /* .images {
        margin: 15px;
    } */

    .images, .image, .img {
        width: 100%;
        height: auto;
    }
  }