@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

.i {
    width: 16px;
    height: 16px;
}

body {
    display: block;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    display: flex;
    flex: 1;
    justify-content: center;
}

#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error > * {
    margin: 0
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.hero-image {
    background-image: linear-gradient(rgba(125, 125, 125, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
}

#booking {
    display: flex;
    justify-content: center;  
}

.booking { 
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.booking > div {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 0 0 4px 0;
}

.datepicker, .booking-item {
    padding: 14px 8px;
    height: 100%;
}

.btn {
    margin-top: auto;
    padding: 15px 12px;
    cursor: pointer;
}

@media only screen and (max-width: 580px) {
    .hero-text {
        display: flex;
        justify-content: center;
        padding-top: 4vh;
        padding-bottom: 2vh;
    }

    .booking {
        flex-direction: column;
        margin: 0 10px;
    }
}