@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    --primary-color: #f0f0f0 ;
    --primary-color-transparent: #f0f0f0d9;
    --secondary-color: #fbfaf8;
    --btn-primary: #004485;
    --btn-secondary: #004e98;
    --text-primary: #221e22;
    --text-secondary: #f7f7ff;
    --box-shadow: #292929;
    --danger: #f32013;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

.hidden {
    display: none;
}

.pagination {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 40px 0 0 0;
}

.link {
    padding: 5px;
    cursor: pointer;
}

.active {
    text-decoration: underline;
}

.header {
    margin: 20px 0 20px 0;
}

.hero {
    width: 100%;
    height: calc(100vh - 73px);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/hero.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.more {
    padding: 0 0 12px 0;
    position: absolute;
    bottom: 0;
}

.mouse::before {
    content: url(/svg/mouse.svg);
    filter: invert(100%)
    opacity(0.35);
    position: relative;
    top: 2px;
}

.book-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1.2;
}

#booking {
    padding: 5vh 0 0 0;
    display: flex;
    justify-content: center;  
}

.booking { 
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0 0 30px 0;
}

.booking > div {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 0 0 4px 0;
}

.datepicker, .peoplepicker{
    min-width: 100%;
    padding: 14px 8px;
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    background: #f1f1f1;
}

.btn {
    border: 1px solid #000;
    border-radius: 4px;
    color: var(--text-secondary);
    background: var(--btn-primary);
    margin-top: auto;
    padding: 15px 20px;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    background: var(--btn-secondary);
}

.danger {
    background: var(--danger) !important;
}

#main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem;
}

.section {
    width: auto;
    display: flex;
    margin: 20px;
    align-items: center;
}

.section > .image-left {
    padding: 0 0 0 25px;
}

.section > .image-right {
    padding: 0 25px 0 0;
}

.img {
    max-width: 80vw;
    min-width: 100%;
    width: auto; 
}

/* responsive media queries */
@media only screen and (max-width: 1100px) {
    #main > .section {
        flex-direction: column;
    }

    .section > .image-left,
    .section > .image-right {
        padding: 0;
        width: auto;
    }

    .section > p {
        padding: 10px;
    }

    /* .section > .image-right {
        padding: 0;
    } */
}

@media only screen and (max-width: 670px) {
    .hero {
        justify-content: space-evenly;
    }

    .book-now {
        padding-top: 4rem;
    }
    

    .booking {
        flex-direction: column;
    }

    .more {
        position: relative;
    }
}

@media only screen and (max-width: 200px) {
    .book-now {
        display: flex;
        width: auto;
        scale: 0.9;
    }
}