<form action="/createMenuItem" method="POST" class="form">
    <h2 class="header">Create Menu Item</h2>
    <select name="menu" class="menu" id="menu">
        <option value="Breakfast">Breakfast</option>
        <option value="Dinner">Dinner</option>
    </select>
    <input type="text" name="menuitem" class="menuitem" placeholder="Menu item">
    <input type="submit" value="Create" class="btn">
</form>

<div class="msg">
    <span><%= error %></span>
</div>