<form action="/update" id="update" method="POST">
    <label for="type">Room Type:</label>
    <p><%= room %></p>
    <select name="name">
        <option value="Queen">Queen</option>
        <option value="King">King</option>
        <option value="Twin">Twin</option>
        <option value="Double">Double</option>
        <option value="Studio">Studio</option>
        <option value="Bunk">Bunk</option>
    </select>
    <input type="text" name="price" class="price" placeholder="Price Per Night">

    <input type="submit" value="Create">
</form>