<form action="/create" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required /> <br /><br />
    <label for="for">Room suitable for:</label>
    <select name="for" class="for">
        <option value="1">1 Person</option>
        <option value="2">2 People</option>
        <option value="3">3 People</option>
        <option value="4">4 People</option>
        <option value="100">100 People</option>

    </select>
    <br /><br />
    <select name="beds" class="beds">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <input
        type="text"
        name="price"
        class="price"
        placeholder="Price Per Night"
    />

    <input type="submit" value="Create" />
</form>
