<div class="image">
    <img src="/images/rooms/deluxe/room.webp" class="img">
</div>

<div class="image">
    <img src="/images/rooms/deluxe/bathroom.webp" class="img">
</div>

<div class="image">
    <img src="/images/rooms/deluxe/dining.webp" class="img">
</div>

<a class="prev">&#10094;</a>
<a class="next">&#10095;</a>