<div class="image">
    <img src="/images/rooms/standard/room.webp" class="img">
</div>

<div class="image">
    <img src="/images/rooms/standard/bathroom.webp" class="img">
</div>

<div class="image">
    <img src="/images/rooms/standard/dining.webp" class="img">
</div>

<a class="prev">&#10094;</a>
<a class="next">&#10095;</a>